@font-face {
    src: url("fonts/CondorVariable-VF-Edu.ttf") format("ttf"),
         url('fonts/CondorVariable-VF-Edu.woff2') format("woff2"),
        url('./fonts/FormaDJRVariableNormal[opsz\,slnt\,wght]-Edu.ttf') format('truetype');

    font-family: 'Condor';
    font-style: normal;
    font-weight: normal;
    }


    /* *{
        border: 3px blue dashed;
    } */
    body{
    background-color: #0b2f0b;
    font-family: 'Condor';
    background-image: image();
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* width: min(100% - 3rem, 80ch); */
    margin-inline: auto;
}
.hero{
background-image: url("newBG.svg");
background-size: cover;
height: 400px;
padding-top: 100px;
}



#history {
    grid-area: h; 
    /* height: 250px; */
    background-color: #E3BA49;
    display: grid;
    grid-gap: 3px;
       /* space around the whole box */
       padding: 5px;
       grid-template-columns: repeat(12, 1fr);
       grid-template-rows: auto auto auto;
        grid-template-areas: 
           ". h h h . . . c c . . ."
           ". p p p p p p p p p p ."
           ". p p p p p p p p p p .";
}

.history-header{
  grid-area: h;
  color: #0b2f0b;
  /* font-size: 40px;
  margin-left: 50px; */
}

.custom-link{
  grid-area: c;
  /* text-align: right;
  margin-right: 50px; */
}

.history-paragraph{
    color: #0b2f0b;
    grid-area: p;
    width: min(100% - 3rem, 100ch);
    /* margin-left: 140px; */
}

h1 {
    /* margin-left: 140px; */
    font-size: 30px;
    color: #0b2f0b;
}

.custom-link {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #0b2f0b; /* green */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    margin: 30px;
    overflow: hidden;
  }

  .custom-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    top: 0;
    left: -100%;
    transition: left 0.3s;
  }

  .custom-link:hover::before {
    left: 0;
  }

  /* Custom link hover effect */
  .custom-link:hover {
    background-color: #1a451a; /* darker green */
  }


/* how the page wrapper appears on desktop */

h3{
    color: #E3BA49;
}


/* .page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h h"
    "a v";
} */

/* #history {
grid-area: h;
} */




.alphabet {
grid-area: a;
}
h2{
    font-size: 30px;
}
#alphabet{
    color: #E3BA49;
    margin-left: 123px;
    font-size: 35px;
}

.light{
    font-variation-settings: "wght" 200, "wdth" 100, "ital" 0;
    width: min(100% - 3rem, 100ch);

}
.lightslant{
    font-variation-settings: "wght" 200, "wdth" 100, "ital" 20;
}
.regular{
    font-variation-settings: "wght" 500, "wdth" 100, "ital" 0;
}
.regularslant{
    font-variation-settings: "wght" 500, "wdth" 100, "ital" 20;
}
.bold{
    font-variation-settings: "wght" 800, "wdth" 100, "ital" 0;
}
.boldslant{
    font-variation-settings: "wght" 800, "wdth" 100, "ital" 20;
}



.variations{
    grid-area: v;
    }
    h5{
        font-size: 30px;
        margin-left: 115px;
    }
    
    .numbers{
        margin-left: 115px;
        font-size: 20px;
    
    }
    .symbols{
        margin-left: 115px;
        font-size: 20px;
    
    }

#variations {
        color: #E3BA49;
    }

#axis {
    color: #E3BA49;
    font-size: 25px;
    background-image: url("newBG.svg");
    background-size: cover;
    height: 270px;

}
    .weight{
    font-size: 20px;
    margin-left: 123px;
}
    .width{
    font-size: 20px;
    margin-left: 123px;
}
    .italic{
    font-size: 20px;
    margin-left: 123px;
}


/* CSS for the footer */
footer{
    background-color: #E3BA49;
}
    .footer-wrapper {
          /* wrap the full width of the page */
         width:100%;
         /* so i can use css grid */
         display: grid;
         grid-gap: 3px;
         /* space around the whole box */
         padding: 5px;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: auto auto auto;
          grid-template-areas: 
             ". . . . . . . . t t t ."
             ". f f . . . . . t t t ."
             ". . . . . . . . t t t .";
}

.font-name{
    grid-area: f;
    font-size: 40px;
    margin-left: 50px;
}

.text-wrapper{
    grid-area: t;
    text-align: right;
    margin-right: 50px;
}
/* variable font animation */
h3{
    font-weight:20px; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "wght" 200, "wdth" 50, "ital" 0;
    }
    50%{font-variation-settings: "wght" 900, "wdth" 175, "ital" 0;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

